#options-inventories a.add-btn {
  border: dotted 2px #ebebeb;
  border-radius: 5px;
  color: #bdc3c7;
  font-size: 13px;
  font-weight: 600;
  display: block;
  margin-top: 20px;
  padding: 13px 15px;
  text-transform: uppercase;
  vertical-align: middle;
}
#options-inventories a.add-btn i {
  margin-right: 10px;
}
#options-inventories a.add-btn:hover {
  text-decoration: none;
  background-color: #58b6f7 !important;
  color: #ffffff !important;
  border: none;
  padding: 15px 17px;
}
#options-inventories ol {
  font-size: 14px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
#options-inventories ol li {
  color: #666;
  height: 60px;
}
#options-inventories ol li > div.table {
  display: table;
}
#options-inventories ol li > div.table > div {
  display: table-cell;
  height: 60px;
  vertical-align: middle;
}
#options-inventories ol li .details .data {
  font-size: 12px;
}
#options-inventories ol li .control {
  font-size: 20px;
  text-align: center;
  width: 60px;
}
#options-inventories ol li .control.handle {
  cursor: move;
}
#options-inventories ol li .control.handle,
#options-inventories ol li .control.delete {
  opacity: 0;
}
#options-inventories ol li:not(.sorting):hover {
  background-color: #58B6F7;
  color: #fefefe;
  cursor: pointer;
}
#options-inventories ol li:not(.sorting):hover .control.handle,
#options-inventories ol li:not(.sorting):hover .control.delete {
  background-color: #2581B8;
  border-left: 1px solid #58B6F7;
  opacity: 1;
}
#options-inventories ol li.pre-delete {
  background-color: #CC3300;
  color: #fefefe;
}
#options-inventories ol li.pre-delete .handle,
#options-inventories ol li.pre-delete .delete {
  opacity: 0 !important;
}
#options-inventories ol li.sortable-placeholder {
  background-color: #fcfcfc;
  border: 1px dotted #58B6F7;
}
.options-inventories-modal .modal-body {
  padding-bottom: 20px;
}
.options-inventories-modal .modal-body div[data-field-name="values"] span:not(:last-of-type) {
  margin-bottom: 10px;
}
.options-inventories-modal .modal-footer .loading-indicator {
  display: none;
  padding: 0;
}
.options-inventories-modal .modal-footer .loading-indicator div,
.options-inventories-modal .modal-footer .loading-indicator span {
  float: right;
  margin-left: 15px;
  position: relative;
}
