{% for item in __SELF__.items %}
    <tr>
        <td>
            <a href="{{ 'product'|page({ slug: item.slug }) }}">{{ item.name }}</a>
            {% if item.options %}
                <small>
                    {% for name, value in item.options %}
                        <div>{{ name }}: {{ value }}</div>
                    {% endfor %}
                </small>
            {% endif %}
        </td>
        <td>
            <input
                type="number"
                name="quantity[{{ item.id }}]"
                style="text-align: center; width: 50px;"
                value="{{ item.quantity }}" />
        </td>
        <td>{{ item.price|moneyFormat }}</td>
        <td>
            <a
                href="javascript:;"
                data-request="{{ __SELF__ ~ '::onRemoveFromCart' }}"
                data-request-data="item: {{ item.id }}"
                data-request-update="
                    '{{ __SELF__ ~ '::items' }}': '.items',
                    '{{ __SELF__ ~ '::totals' }}': '.totals'
                ">
                Remove
            </a>
        </td>
    </tr>
{% endfor %}
