<?php foreach ($drivers as $driver): ?>

    <div class="driver<?php if (!$driver->isConfigured) echo ' not-configured'; ?>" data-control="driver" data-id="<?= $driver->id ?>">
        <a href="javascript:;">
            <i class="icon-cog"></i>
            <div class="off">
                <?php if ($driver->image): ?>
                    <img src="<?= $driver->image->getPath() ?>" alt="<?= $driver->name ?>" />
                <?php else: ?>
                    <?= $driver->name ?>
                <?php endif ?>
            </div>
            <div class="on">
                <span><?= $driver->name ?></span>
            </div>

            <span class="status">
                <?= $driver->isConfigured
                    ? e(trans('bedard.shop::lang.drivers.status_ready'))
                    : e(trans('bedard.shop::lang.drivers.status_unconfigured')) ?>
            </span>
        </a>
    </div>

<?php endforeach ?>
