<div class="category">

    <div class="page-header">
        <h2>{{ __SELF__.name }}</h2>
    </div>

    {% for row in __SELF__.products|batch(__SELF__.columns) %}
        <div class="row">
            {% for product in row %}
                <div class="col span-{{ __SELF__.columns }}">
                    <h4>{{ product.name }}</h4>
                    {% if product.isDiscounted %}
                        <s>{{ product.basePrice|moneyFormat }}</s>
                        <span class="text-success">{{ product.price|moneyFormat }}</span>
                    {% else %}
                        {{ product.price|moneyFormat }}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}

</div>
