<div class="page-header">
    <h2>{{ category.name }}</h2>
</div>

{% for row in products.chunk(__SELF__.columns) %}
    <div class="row">
        {% for product in row %}
            <div class="col-sm-{{ __SELF__.columns }}">
                <div class="inner">
                    <h4>{{ product.name }}</h4>
                    {% if product.isDiscounted %}
                        <s>{{ product.basePrice|currency }}</s>
                        <span class="text-success">{{ product.price|currency }}</span>
                    {% else %}
                        {{ product.price|currency }}
                    {% endif %}

                    <div class="buttons">
                        {% if product.isInStock %}
                            <a
                                href="{{ product.url }}"
                                class="btn btn-primary">
                                Details
                            </a>
                        {% else %}
                            <a
                                href="{{ product.url }}"
                                class="btn btn-default">
                                Out Of Stock
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}

{% partial __SELF__ ~ "::pagination" %}