{% if __SELF__.pagination.last > 1 %}
    <nav>
        <ul class="pagination">
            <li{% if __SELF__.pagination.current == 1 %} class="disabled"{% endif %}>
                <a href="{{ 'category'|page({ slug: __SELF__.category.slug, page: __SELF__.pagination.previous }) }}" aria-label="Previous">
                    <span aria-hidden="true">«</span>
                </a>
            </li>

            {% for i in 1..__SELF__.pagination.last %}
                <li{% if __SELF__.pagination.current == i %} class="active"{% endif %}>
                    <a href="{{ 'category'|page({ slug: __SELF__.category.slug, page: i }) }}">
                        {{ i }}
                    </a>
                </li>
            {% endfor %}

            <li>
                <a href="{{ 'category'|page({ slug: __SELF__.category.slug, page: __SELF__.pagination.next }) }}" aria-label="Next">
                    <span aria-hidden="true">»</span>
                </a>
            </li>
        </ul>
    </nav>
{% endif %}
