{% set
    paginationEnabled =
    products.currentPage > 1 or
    products.lastPage > 1 or
    products.lastPage > products.currentPage
%}

<div class="row product-pagination {{ paginationEnabled ? "enabled" : "disabled" }}">
    <div class="col-md-8">
        {% partial __SELF__ ~ "::pagination-list" records = products %}
    </div>
    <div class="col-md-4 text-right products-total-summary">
        <p>{{ products.firstItem }}-{{ products.lastItem }} of {{ products.total }}</p>
    </div>
</div>