//
// Forms
//
.bedard-shop.form {

    // Enables "padded" fancy-layout forms
    .fancy-layout.padded div.tab-pane { padding: 15px 20px; }

    // Relationselector Partials
    .relationselector {
        .toolbar {
            a {
                margin-right: 5px;
            }
        }
        .relationselector-partial {
            .scrollbar-wrapper {
                display: block;
                height: 300px;
            }

            input[type="checkbox"] { display: none }

            &.categories {
                .tooltip-inner {
                    text-align: center;
                    width: 180px;
                }

                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;

                    li {
                        border-bottom: 1px solid #e0e0e0;
                        border-left: 3px solid transparent;
                        cursor: pointer;
                        font-size: 12px;
                        overflow: hidden;
                        padding: 10px 15px 10px 12px;

                        &:last-of-type { border-bottom: 0 }
                        &.delete { border-left: 3px solid #FF9933 }
                        &:hover {
                            background-color: #39A4F3;
                            color: #fff;
                        }
                    }

                    div {
                        display: inline-block;

                        &.left { float: left }
                        &.right { float: right; margin-top: -2px }
                    }

                    span.inherited {
                        background-color: #34495E;
                        border-radius: 3px;
                        color: #fff;
                        display: inline-block;
                        min-width: 35px;
                        padding: 2px 5px;
                        text-align: center;
                    }
                }
            }
        }
    }
}

.bedard-shop.form, .select2-results, .modal {
    .select2-chosen, li:not(.select2-highlighted) {
        span.parent { color: #aaa; }
    }

    i.delimeter { padding: 0 5px; }
}
