{% if __SELF__.address %}

    Your address has been entered...

{% else %}

    <form
        data-request="{{ __SELF__ ~ '::onSubmitDetails' }}"
        data-request-update="">

        <input type="text" name="customer[first_name]" placeholder="First name" />
        <input type="text" name="customer[last_name]" placeholder="Last name" />
        <input type="text" name="customer[email]" placeholder="Email address" />
        <input type="text" name="address[organization]" placeholder="Organization" />
        <input type="text" name="address[street_1]" placeholder="Street 1" />
        <input type="text" name="address[street_2]" placeholder="Street 2" />
        <input type="text" name="address[postal_code]" placeholder="Postal code" />

        <div id="partialCountryState">
            {% partial __SELF__ ~ '::country-state' countryId=defaultCountry %}
        </div>

        <input type="submit" value="Submit Address" />

    </form>

{% endif %}
