{% set countryId = countryId|default(form_value('address')['country_id']) %}
{% set stateId = stateId|default(form_value('address')['state_id']) %}

{{ form_select_country('country_id', countryId, {
    id: 'accountCountry',
    name: 'address[country_id]',
    class: 'browser-default',
    emptyOption: '',
    'data-request': 'onInit',
    'data-request-update': {
        'shopCheckout::country-state': '#partialCountryState'
    }
}) }}

{{ form_select_state('state_id', countryId, stateId, {
    id: 'accountState',
    name: 'address[state_id]',
    class: 'browser-default',
    emptyOption: ''
}) }}
