<div>
    <ol class="list" data-model="Inventory">
        <?php if ($inventories): ?>
            <?php foreach ($inventories as $inventory): ?>
                <li data-id="<?= $inventory->id ?>">
                    <div class="table">
                        <div class="control icon"><i class="icon-cube"></i></div>
                        <div class="details">
                            <div class="name">
                                <?php if ($values = $inventory->getValueNames()): ?>
                                    <?= implode('<i class="delimeter icon-angle-right"></i>', $values) ?>
                                <?php else: ?>
                                    <?= e(trans('bedard.shop::lang.inventories.default')) ?>
                                <?php endif ?>
                            </div>
                            <div class="data">
                                <?php if ($inventory->quantity > 0): ?>
                                    <?= e(trans('bedard.shop::lang.inventories.quantity_in_stock', ['quantity' => $inventory->quantity])) ?>
                                <?php else: ?>
                                    <?= e(trans('bedard.shop::lang.inventories.out_of_stock')) ?>
                                <?php endif ?>
                            </div>
                        </div>
                        <div class="control delete"><i class="icon-trash-o"></i></div>
                    </div>
                </li>
            <?php endforeach ?>
        <?php endif ?>
    </ol>

    <a href="#" class="add-btn" data-control="add">
        <i class="icon-plus"></i>
        <?= e(trans('backend::lang.relation.create_name', ['name' => trans('bedard.shop::lang.inventories.model')])) ?>
    </a>
</div>
