<div id="options-inventories">

    <!-- Options subwidget -->
    <div class="form-group widget-field span-left">
        <label><?= e(trans('bedard.shop::lang.options.widget_label')) ?></label>
        <div id="formOptions">
            <?= $this->makePartial('options', ['options' => $options]) ?>
        </div>
    </div>

    <!-- Inventory subwidget -->
    <div class="form-group widget-field span-right">
        <label>Inventories</label>
        World
    </div>

</div>

<!-- Pass widget and language data to javascript -->
<script type="text/javascript">
    var OptionsInventoriesAlias = '<?= $this->alias ?>',
        OptionsInventoriesLang = <?= $lang ?>
</script>
