<div
    id="options-inventories"
    data-session-key="<?= $this->sessionKey ?>">

    <!-- Options subwidget -->
    <div class="form-group widget-field span-left">
        <label><?= e(trans('bedard.shop::lang.options.widget_label')) ?></label>
        <div id="formOptions">
            <?= $this->makePartial('options', ['options' => $options]) ?>
        </div>
    </div>

    <!-- Inventory subwidget -->
    <div class="form-group widget-field span-right">
        <label><?= e(trans('bedard.shop::lang.inventories.widget_label')) ?></label>
        <div id="formInventories">
            <?= $this->makePartial('inventories', ['inventories' => $inventories]) ?>
        </div>
    </div>

</div>

<!-- Pass widget and language data to javascript -->
<script type="text/javascript">
    var OptionsInventoriesAlias = '<?= $this->alias ?>',
        OptionsInventoriesLang = <?= $lang ?>
</script>
