.bedard-shop.form .fancy-layout.padded div.tab-pane {
  padding: 15px 20px;
}
.bedard-shop.form .relationselector .relationselector-partial .scrollbar-wrapper {
  display: block;
  height: 300px;
}
.bedard-shop.form .relationselector .relationselector-partial input[type="checkbox"] {
  display: none;
}
.bedard-shop.form .relationselector .relationselector-partial .tooltip-inner {
  text-align: center;
  width: 180px;
}
.bedard-shop.form .relationselector .relationselector-partial ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.bedard-shop.form .relationselector .relationselector-partial ul li {
  border-bottom: 1px solid #e0e0e0;
  border-left: 3px solid transparent;
  cursor: pointer;
  font-size: 12px;
  overflow: hidden;
  padding: 10px 15px 10px 12px;
}
.bedard-shop.form .relationselector .relationselector-partial ul li:last-of-type {
  border-bottom: 0;
}
.bedard-shop.form .relationselector .relationselector-partial ul li.delete {
  border-left: 3px solid #ff9933;
}
.bedard-shop.form .relationselector .relationselector-partial ul li:hover {
  background-color: #39A4F3;
  color: #fff !important;
}
.bedard-shop.form .relationselector .relationselector-partial ul div {
  display: inline-block;
}
.bedard-shop.form .relationselector .relationselector-partial ul div.left {
  float: left;
}
.bedard-shop.form .relationselector .relationselector-partial ul div.right {
  float: right;
  margin-top: -2px;
}
.bedard-shop.form .relationselector .relationselector-partial ul span.inherited {
  background-color: #34495E;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  min-width: 35px;
  padding: 2px 5px;
  text-align: center;
}
.bedard-shop.form .relationselector .relationselector-partial ul span.base-price.discounted {
  text-decoration: line-through;
}
.bedard-shop.form .relationselector .relationselector-partial ul span.discounted-price {
  color: green;
}
.bedard-shop.form .select2-chosen span.parent,
.select2-results .select2-chosen span.parent,
.modal .select2-chosen span.parent,
.bedard-shop.form li:not(.select2-highlighted) span.parent,
.select2-results li:not(.select2-highlighted) span.parent,
.modal li:not(.select2-highlighted) span.parent {
  color: #aaa;
}
.bedard-shop.form i.delimeter,
.select2-results i.delimeter,
.modal i.delimeter {
  padding: 0 5px;
}
