.bedard-shop.list .list-icon {
  display: inline-block;
  font-size: 16px;
  margin-right: 3px;
  text-align: center;
  width: 22px;
}
.bedard-shop.list .blue {
  color: #0d8ecf;
}
.bedard-shop.list .green {
  color: #8da85e;
}
.bedard-shop.list .red {
  color: #cc3300;
}
.bedard-shop.list .yellow {
  color: #e5a91a;
}
.bedard-shop.list .spinning {
  -webkit-animation: spin 1s infinite steps(8);
          animation: spin 1s infinite steps(8);
}
