<div class="page-header">
    <h2>{{ __SELF__.product.name }}</h2>
</div>

<div class="row">
    <div class="col-md-8">
        Images
    </div>
    <div class="col-md-4">

        <h3>
            {% if __SELF__.product.isDiscounted %}
                <s>{{ __SELF__.product.base_price|moneyFormat }}</s>
                <span class="text-success">{{ __SELF__.product.price|moneyFormat }}</span>
            {% else %}
                {{ __SELF__.product.price|moneyFormat }}
            {% endif %}
        </h3>
        {{ __SELF__.product.description_html|raw }}

    </div>
</div>
