#valuemanager {

    ol {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        cursor: text;
        margin-bottom: 10px;
        display: table;

        &.sortable-placeholder {
            height: 45px;
        }

        &.flash {
            border-color: #D35400 !important;
        }
    }

    span {
        display: table-cell;
        vertical-align: middle;

        &.handle, &.delete {
            color: #A6A6A6;
            font-size: 18px;
            text-align: center;
            width: 20px;
        }

        &.handle:hover {
            cursor: move;
            color: #616161;
        }

        &.delete:hover {
            cursor: pointer;
            color: #CC3300;
        }

        &.input {
            padding: 0 10px;

            input {
                border: 0;
                height: 100%;
                outline: none;
                padding: 0;
                width: 100%;
            }
        }
    }

}
