div[data-widget="reorderCategories"] ol[data-control="treeview"] {
  margin: 0;
  padding: 0 15px;
}
div[data-widget="reorderCategories"] ol[data-control="treeview"] li {
  cursor: move;
}
div[data-widget="reorderCategories"] ol[data-control="treeview"] li.dragged {
  opacity: 0.25;
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}
div[data-widget="reorderCategories"] ol[data-control="treeview"] li.placeholder {
  position: relative;
}
div[data-widget="reorderCategories"] ol[data-control="treeview"] li.placeholder:before {
  color: #D35400;
  content: "\f105";
  font-family: 'FontAwesome';
  position: absolute;
}
div[data-widget="reorderCategories"] .modal-body {
  padding-bottom: 20px;
}
div[data-widget="reorderCategories"] .modal-footer .loading-indicator {
  display: none;
  padding: 0;
}
div[data-widget="reorderCategories"] .modal-footer .loading-indicator div,
div[data-widget="reorderCategories"] .modal-footer .loading-indicator span {
  float: right;
  margin-left: 15px;
  position: relative;
}
