<div id="valuemanager">
    <ol>
        <?php foreach ($this->model->values as $value): ?>
            <?= $this->makePartial('value', ['value' => $value]) ?>
        <?php endforeach ?>
    </ol>

    <input
        type="text"
        class="form-control"
        autocomplete="off"
        data-control="add-value"
        placeholder="<?= e(trans('bedard.shop::lang.values.placeholder')) ?>" />

    <script type="text/template" data-control="template">
        <?= $this->makePartial('value', ['value' => $newValue]) ?>
    </script>
</div>

